http://dash.mattmiranda.dev {
    reverse_proxy https://portainer:9443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

http://vault.mattmiranda.dev {
    reverse_proxy vaultwarden:8080
}

http://notes.mattmiranda.dev {
    reverse_proxy joplin:22300
}
