http://dash.mattmiranda.dev {
    reverse_proxy dockge-dockge-1:5001
}

http://vault.mattmiranda.dev {
    reverse_proxy vaultwarden:8080
}

http://notes.mattmiranda.dev {
    reverse_proxy joplin:22300
}
